{%extends 'admin/base.html'%}{%load static%}
{%block extrastyle%}
<link rel="stylesheet" href="{%static 'admin/css/bulma-rtl.css.map'%}">
<link rel="stylesheet" href="{%static 'admin/css/bulma-rtl.min.css'%}">
<link rel="stylesheet" href="{%static 'admin/css/bulma-rtl.css'%}">
<link rel="stylesheet" href="{%static 'admin/css/bulma.css.map'%}">
<link rel="stylesheet" href="{%static 'admin/css/bulma.min.css'%}">
<link rel="stylesheet" href="{%static 'admin/css/bulma.css'%}">

{%endblock%}



{%block branding%}
<div id="intro_display">
      <img src="{%static 'img/LOGO1.svg'%}" width="64px" height="64px" alt="" srcset="">
      <h1 class="title" id="admin_tit">Linlkin Agency</h1>
</div>



{%endblock%}