{%extends 'menu.html'%}

{%block tit%}menu page{%endblock%}
{%block header1%}{%endblock%}
{%block out_header1%}{%endblock%}
{%block cont_1%}{%endblock%}
{%block content_1%}{%endblock%}
{%block out_cont_1%}{%endblock%}
{%block out_content_1%}{%endblock%}


{%extends 'menu.html'%}

{%block tit%}E403{%endblock%}
{%block header1%}{%endblock%}
{%block out_header1%}{%endblock%}
{%block cont_1%}{%endblock%}
{%block content_1%}{%endblock%}
{%block out_cont_1%}{%endblock%}
{%block out_content_1%}{%endblock%}


