{%extends 'menu.html'%}{%load i18n%}

{%block tit%}{%trans 'post'%}{%endblock%}
{%block out_header1%}{%block header1%}

{%endblock%}{%endblock%}

{%block cont_1%}
<div class="output_3" style="overflow-y: auto;"><br>
    <div id="output_header">
        <h1 id="h3" class="title" >{%trans 'post'%}</h1> 
     </div>
     
    <div><h1 class='title'>{{post.post_name}}</h1><br><span></span></div>
    <div class="body_1">
        <div><ul>
            <li class='title is-3'>{%trans 'platform'%}:{{post.platform_type}}</li>
            <li class='title is-3'>{%trans 'visit_post'%}:<a href="{{post.url_hyperlink}}" class="button is-info">{%trans 'display_post'%}</a></li>
            <li class='title is-5'>{%trans 'info'%}:{{post.bio}}</li>
            <li class='title is-6'>{%trans 'campagin_cost'%}:{%if post.campagin_cost%}{{post.campagin_cost}}{%else%}0{%endif%} EGP</li>
            <li class='title is-6'>{%trans 'added_in'%}:{{post.added_in}}</li>
        </ul></div>
        <div>
            <img style="border: 2px solid #fff;border-radius: 10px;" src={{post.postgraph.url}}/>
        </div>
     </div>
 </div>

 

{%endblock%}
{%block out_content_1%}{%block content_1%}{%endblock%}{%endblock%}







