{%extends 'menu.html'%}
{%load i18n%}{%load widget_tweaks%}
{%block tit%}menu page{%endblock%}
{%block out_header1%}{%block header1%}
<div id="output_header">
   <h1 id="h3" class="title" >{%trans 'Add_new_user'%}</h1> 
</div>

{%endblock%}{%endblock%}

{%block cont_1%}
<div style="display: grid;grid-template-columns: repeat(5,auto);">
    <div></div>
    <div></div>
    <div class="output_3" >
       the profilecccc
     </div>
     <div></div>
    <div></div>
</div>

 

{%endblock%}
{%block out_content_1%}{%block content_1%}{%endblock%}{%endblock%}







